.pageHeader{
  padding: 6px;
  box-shadow: rgb(187,187,1870) 0px 3px 9px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.box{
  padding:2px 8px 8px 8px;
  box-shadow: rgb(187,187,1870) 0px 2px 8px;
  margin-bottom: 6px;

}